	    body {
             	        background-color: #000000;
             	        background-image: url(img/widescreen-background.jpg);
             	        background-repeat:no-repeat;
             	        background-attachment:fixed;
             	        background-position:center;
             	        font-family: 'Ubuntu', Arial, sans-serif;
             	        font-size: 1em;
             	    }

	    #welcome {
              	        position: absolute;
              	        top: 50%;
              	        left: 50%;
              	        z-index: 999;
              	        color: #fff;
              	        background: #ffffff;
              	        padding: 60px;
              	        width: 200px;
              	        height: 200px;
              	        border-radius: 50%;
              	        margin: -200px 0 0 -200px;
              	        text-align: center;
              	        border: inset 44px #C0C0C0;
              	        cursor: pointer;
              	    }

	    #welcome #wlogo {
              31	        position: absolute;
              32	        top: 104px;
              33	        left: 10px;
              	        border: 0px;
              }
